@model NET_projekt.Models.User

@{
    ViewBag.Title = "Index";
}
<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Wellcome,
            </div>
            <div class="card-body">
                @if (Session["UserId"] != null)
                {
                    <p>Name: @Session["Nickname"].ToString()</p>
                    <p>Email: @Session["EmailAddress"].ToString()</p>
                    <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
                }
            </div>
        </div>
    </div>
</div>

<div>MY ECG COLLECTION:</div>
<table class="table">
    @foreach (var item in Model.EcgCollection)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatasetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleReference)
            </td>
        </tr>
    }
</table>
@Session["UserId"]
@Session["Nickname"]