
@{
    ViewBag.Title = "User_plot";
    string t;
}

<h2>User_plot</h2>



<div>
    <div class=" text-center">
        <input type="button" value="Previous-data" onclick="location.href='@Url.Action("Previous_data", "Home")'" />
        <input type="button" value="Next_data" onclick="location.href='@Url.Action("Next_data", "Home")'" />

    </div>
</div>

<head>
    <script>
        window.onload = function () {
            var chart1 = new CanvasJS.StockChart("chartContainer1", {
                animationEnabled: true,
                exportEnabled: true,

                title: {

                },
                charts: [{
                    title: {
                        @{t = string.Format("{0}", ViewBag.Fields1[0]); }
                        text:   "@t"
                    },
                    height: 200,
                    axisX: {
                        title: "Czas",
                        suffix: "s",
                        crosshair: {
                            enabled: true,
                            snapToDataPoint: true
                        }
                    },
                    axisY: {
                        title: "Amplituda",
                        suffix: "mV",
                        crosshair: {
                            enabled: true,
                            snapToDataPoint: true
                        }
                    },
                    data: [{
                        type: "spline",
                        dataPoints: @Html.Raw(ViewBag.UserData1)
                    }]
                }, {
                    title: {
                       @{t = string.Format("{0}", ViewBag.Fields1[1]); }
                        text:   "@t"
                    },
                    height: 200,
                    axisX: {
                        title: "Czas",
                        suffix: "s",
                        crosshair: {
                            enabled: true,
                            snapToDataPoint: true
                        }
                    },
                        axisY: {
                            title: "Amplituda",
                            suffix: "mV",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        data: [{
                            type:"spline",
                            dataPoints: @Html.Raw(ViewBag.UserData2)
                        }]
                    }, {
                        title: {
                            @{t = string.Format("{0}", ViewBag.Fields1[2]); }
                            text:   "@t"
                         },
                        height: 200,
                        axisX: {
                            title: "Czas",
                            suffix: "s",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        axisY: {
                            title: "Amplituda",
                            suffix: "mV",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        data: [{
                            type: "spline",
                            dataPoints: @Html.Raw(ViewBag.UserData3)
                        }]
                    }, {
                        title: {
                            @{t = string.Format("{0}", ViewBag.Fields1[3]); }
                            text:   "@t"
                        },
                        height: 200,
                        axisX: {
                            title: "Czas",
                            suffix: "s",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        axisY: {
                            title: "Amplituda",
                            suffix: "mV",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        data: [{
                            type: "spline",
                            dataPoints: @Html.Raw(ViewBag.UserData4)
                        }]
                    }, {
                        title: {
                            @{t = string.Format("{0}", ViewBag.Fields1[4]); }
                            text:   "@t"
                        },
                        height: 200,
                        axisX: {
                            title: "Czas",
                            suffix: "s",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        axisY: {
                            title: "Amplituda",
                            suffix: "mV",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        data: [{
                            type: "spline",
                            dataPoints: @Html.Raw(ViewBag.UserData5)
                        }]
                    }, {
                        title: {
                             @{t = string.Format("{0}", ViewBag.Fields1[5]); }
                             text:   "@t"
                        },
                        height: 200,
                        axisX: {
                            title: "Czas",
                            suffix: "s",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        axisY: {
                            title: "Amplituda",
                            suffix: "mV",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        data: [{
                            type: "spline",
                            dataPoints: @Html.Raw(ViewBag.UserData6)
                        }]
                    }, {
                        title: {
                             @{t = string.Format("{0}", ViewBag.Fields1[6]); }
                             text:   "@t"
                        },
                        height: 200,
                        axisX: {
                            title: "Czas",
                            suffix: "s",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        axisY: {
                            title: "Amplituda",
                            suffix: "mV",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        data: [{
                            type: "spline",
                            dataPoints: @Html.Raw(ViewBag.UserData7)
                        }]
                    }, {
                        title: {
                             @{t = string.Format("{0}", ViewBag.Fields1[7]); }
                             text:   "@t"
                         },
                        height: 200,
                        axisX: {
                            title: "Czas",
                            suffix: "s",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        axisY: {
                            title: "Amplituda",
                            suffix: "mV",
                            crosshair: {
                                enabled: true,
                                snapToDataPoint: true
                            }
                        },
                        data: [{
                            type: "spline",
                            dataPoints: @Html.Raw(ViewBag.UserData8)
                        }]
                    }],
                rangeSelector: {
                    inputFields: {

                        valueFormatString: "###0"
                    },

                    buttons: [{
                        label: "5",
                        range: 5,
                        rangeType: "number",

                    }, {
                        label: "10",
                        range: 10,
                        rangeType: "number"
                    }, {
                        label: "15",
                        range: 15,
                        rangeType: "number"
                    }, {
                        label: "All",
                        rangeType: "all"
                    }]
                }


            });

            chart1.render();

        }
    </script>
</head>



<body>
    <div id="chartContainer1" style="height: 400px; width: 90%;"></div>
 
    <script src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>




